.header_container {
    height: 60vh;
    width: 100%;
    line-height: 40vh;
    background-image: url('../assets/images/hero.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 1.5px;
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
}

.title span {
    color: orange
}